.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-28 {
  gap: 28px;
}

.gap-32 {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.gap-48 {
  gap: 48px;
}

.gap-52 {
  gap: 52px;
}

.gap-60 {
  gap: 60px;
}

.gap-72 {
  gap: 72px;
}

.gap-80 {
  gap: 80px;
}

.gap-92 {
  gap: 92px;
}

.gap-100 {
  gap: 100px;
}